@font-face {
  font-family: 'Comic Neue';
  src: url('fonts/ComicNeue-Light.eot');
  src: url('fonts/ComicNeue-Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/ComicNeue-Light.woff') format('woff'),
       url('fonts/ComicNeue-Light.woff2') format('woff2'),
       url('fonts/ComicNeue-Light.ttf')  format('truetype');
  font-weight: 100;
}

body {
	background-color: orange;
}

.title {
	position: fixed;
	top: 0px;
	z-index: -1;
	color: white;
	text-align: left;
	font-size: 7em;
	font-family: 'Comic Neue', Tahoma, Verdana, Segoe, sans-serif;
}

.main {
	background-color: white;
	margin-top: 9em;
	margin-right: 20%;
	margin-bottom: 9em;
	margin-left: 20%;
	padding-top: 0px;
	border-radius: 2px;
    opacity: 0.9;
	font-family: 'Comic Neue', Tahoma, Verdana, Segoe, sans-serif;
}

.content {
	padding: 5px 5% 5px 5%;
	font-size: 17px;
	text-align: justify;
}

.content p{
	font-size: 1.5em;
}

#navlist {
	padding: 20px 5px;
	margin-top: 0px;
	background-color: #ddd;
}

#navlist li {
	padding: 10px 5px;
	background-color: white;
	display: inline;
	list-style-type: none;
    text-align: center;
}

#navlist a {
    color: #000000;
    text-decoration: none;
}

#navlist a:hover {
    color: #000000;
}
