body {
	background-color: orange;
}

.title {
	position: fixed;
	top: 0px;
	z-index: -1;
	color: white;
	text-align: left;
	font-size: 7em;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.main {
	background-color: white;
	margin-top: 9em;
	margin-right: 20%;
	margin-bottom: 9em;
	margin-left: 20%;
	padding-top: 0px;
	border-radius: 2px;
    opacity: 0.9;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.content {
	padding: 5px 5% 5px 5%;
	font-size: 17px;
	text-align: justify;
}

#navlist {
	padding: 20px 5px;
	margin-top: 0px;
	background-color: #ddd;
}

#navlist li {
	padding: 10px 5px;
	background-color: white;
	display: inline;
	list-style-type: none;
    text-align: center;
}

#navlist a {
    color: #000000;
    text-decoration: none;
}

#navlist a:hover {
    color: #000000;
}
